spacy~=3.7.2
opencv-python~=4.8.1.78
pytesseract~=0.3.10
numpy~=1.26.1
pymongo~=4.6.1
cassandra-driver~=3.28.0
regex~=2023.10.3
Pillow~=10.0.1
rapidfuzz~=3.5.2
easyocr~=1.7.1
ftfy~=6.1.1
flask~=3.0.0
setuptools~=65.5.1